oxalis-outbound/src/main/resources/META-INF/wsdl/ws-start-exceptions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://busdox.org/2010/02/channel/fault" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="StartException">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="action" type="xs:string"/>
                <xs:element name="faultcode" type="xs:string"/>
                <xs:element name="faultstring" type="xs:string"/>
                <xs:element name="details" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
