oxalis/oxalis-start-client/src/main/resources/META-INF/wsdl_v1.5.xml

<?xml version="1.0" encoding="UTF-8"?><!--

    Version: MPL 1.1/EUPL 1.1

    The contents of this file are subject to the Mozilla Public License Version
    1.1 (the "License"); you may not use this file except in compliance with
    the License. You may obtain a copy of the License at:
    http://www.mozilla.org/MPL/

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
    for the specific language governing rights and limitations under the
    License.

    The Original Code is Copyright The PEPPOL project (http://www.peppol.eu)

    Alternatively, the contents of this file may be used under the
    terms of the EUPL, Version 1.1 or - as soon they will be approved
    by the European Commission - subsequent versions of the EUPL
    (the "Licence"); You may not use this work except in compliance
    with the Licence.
    You may obtain a copy of the Licence at:
    http://www.osor.eu/eupl/european-union-public-licence-eupl-v.1.1

    Unless required by applicable law or agreed to in writing, software
    distributed under the Licence is distributed on an "AS IS" basis,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the Licence for the specific language governing permissions and
    limitations under the Licence.

    If you wish to allow use of your version of this file only
    under the terms of the EUPL License and not to allow others to use
    your version of this file under the MPL, indicate your decision by
    deleting the provisions above and replace them with the notice and
    other provisions required by the EUPL License. If you do not delete
    the provisions above, a recipient may use your version of this file
    under either the MPL or the EUPL License.

-->
<wsdl:definitions targetNamespace="http://www.w3.org/2009/02/ws-tra"
                  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:exc="http://busdox.org/2010/02/channel/fault"
                  xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service"
                  xmlns:id="http://busdox.org/transport/identifiers/1.0/"
                  xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                  xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service"
                  xmlns:tns="http://www.w3.org/2009/02/ws-tra"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wse="http://docs.oasis-open.org/wss/oasis-wss-wssecurity-secext-1.1.xsd"
                  xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
                  xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sc1="http://schemas.sun.com/2006/03/wss/client">
    <wsdl:types>
        <xs:schema targetNamespace="http://www.w3.org/2009/02/ws-tra">
            <xs:include schemaLocation="ws-tra.xsd"/>
            <!-- Extends the WS-Transfer WSDL with header elements -->
            <xs:import namespace="http://busdox.org/transport/identifiers/1.0/" schemaLocation="Identifiers-1.0.xsd"/>
            <!-- Extends the WS-Transfer WSDL with Fault elements -->
            <xs:import namespace="http://busdox.org/2010/02/channel/fault" schemaLocation="ws-start-exceptions.xsd"/>
        </xs:schema>
    </wsdl:types>
    <!-- Input message for Get Operation -->
    <wsdl:message name="GetMessage">
        <wsdl:part element="tns:Get" name="Body"/>
    </wsdl:message>
    <!-- Output message for Get Operation -->
    <wsdl:message name="GetResponseMessage">
        <wsdl:part element="tns:GetResponse" name="Body"/>
    </wsdl:message>
    <!-- Input message for Put Operation -->
    <wsdl:message name="PutMessage">
        <wsdl:part element="tns:Put" name="Body"/>
    </wsdl:message>
    <!-- Output message for Put Operation -->
    <wsdl:message name="PutResponseMessage">
        <wsdl:part element="tns:PutResponse" name="Body"/>
    </wsdl:message>
    <!-- Input message for Delete Operation -->
    <wsdl:message name="DeleteMessage">
        <wsdl:part element="tns:Delete" name="Body"/>
    </wsdl:message>
    <!-- Output message for Delete Operation -->
    <wsdl:message name="DeleteResponseMessage">
        <wsdl:part element="tns:DeleteResponse" name="Body"/>
    </wsdl:message>
    <!-- Input message for Create Operation -->
    <wsdl:message name="CreateMessage">
        <wsdl:part element="tns:Create" name="Body"/>
    </wsdl:message>
    <!-- Output message for Create Operation -->
    <wsdl:message name="CreateResponseMessage">
        <wsdl:part element="tns:CreateResponse" name="Body"/>
    </wsdl:message>
    <!-- Generic Fault message for Operations -->
    <wsdl:message name="FaultMessage">
        <wsdl:part element="exc:StartException" name="Body"/>
    </wsdl:message>
    <!-- Message for describing the Header elements -->
    <wsdl:message name="HeaderMessage">
        <wsdl:part element="id:MessageIdentifier" name="MessageIdHeader"/>
        <wsdl:part element="id:ChannelIdentifier" name="ChannelIdHeader"/>
        <wsdl:part element="id:RecipientIdentifier" name="RecipientIdHeader"/>
        <wsdl:part element="id:SenderIdentifier" name="SenderIdHeader"/>
        <wsdl:part element="id:DocumentIdentifier" name="DocumentIdHeader"/>
        <wsdl:part element="id:ProcessIdentifier" name="ProcessIdHeader"/>
    </wsdl:message>
    <wsdl:portType name="Resource">
        <!-- Describes the structure of Get Operation -->
        <wsdl:operation name="Get">
            <wsdl:input message="tns:GetMessage" wsam:Action="http://www.w3.org/2009/02/ws-tra/Get"/>
            <wsdl:output message="tns:GetResponseMessage" wsam:Action="http://www.w3.org/2009/02/ws-tra/GetResponse"/>
        </wsdl:operation>
        <!-- Describes the structure of Put Operation -->
        <wsdl:operation name="Put">
            <wsdl:input message="tns:PutMessage" wsam:Action="http://www.w3.org/2009/02/ws-tra/Put"/>
            <wsdl:output message="tns:PutResponseMessage" wsam:Action="http://www.w3.org/2009/02/ws-tra/PutResponse"/>
        </wsdl:operation>
        <!-- Describes the structure of Delete Operation -->
        <wsdl:operation name="Delete">
            <wsdl:input message="tns:DeleteMessage" wsam:Action="http://www.w3.org/2009/02/ws-tra/Delete"/>
            <wsdl:output message="tns:DeleteResponseMessage"
                         wsam:Action="http://www.w3.org/2009/02/ws-tra/DeleteResponse"/>
        </wsdl:operation>
        <!-- Describes the structure of Create Operation -->
        <wsdl:operation name="Create">
            <wsdl:input message="tns:CreateMessage" wsam:Action="http://www.w3.org/2009/02/ws-tra/Create"/>
            <wsdl:output message="tns:CreateResponseMessage"
                         wsam:Action="http://www.w3.org/2009/02/ws-tra/CreateResponse"/>
            <wsdl:fault message="tns:FaultMessage" name="FaultMessage"
                        wsam:Action="http://busdox.org/2010/02/channel/fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <!-- Describes the protocol for the operations -->
    <wsdl:binding name="ResourceBinding" type="tns:Resource">
        <wsp:PolicyReference URI="#ResourceBindingPolicy"/>
        <wsaw:UsingAddressing wsdl:required="true"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/envelope/"/>
        <wsdl:operation name="Get">
            <wsaw:Anonymous>required</wsaw:Anonymous>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Put">
            <wsaw:Anonymous>required</wsaw:Anonymous>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Delete">
            <wsaw:Anonymous>required</wsaw:Anonymous>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <!-- Structure of the Create operation -->
        <wsdl:operation name="Create">
            <wsaw:Anonymous>required</wsaw:Anonymous>
            <wsdl:input>
                <soap:body parts="Body" use="literal"/>
                <!-- Header elements for Create Operation -->
                <soap:header message="tns:HeaderMessage" part="MessageIdHeader" use="literal"/>
                <soap:header message="tns:HeaderMessage" part="ChannelIdHeader" use="literal"/>
                <soap:header message="tns:HeaderMessage" part="RecipientIdHeader" use="literal"/>
                <soap:header message="tns:HeaderMessage" part="SenderIdHeader" use="literal"/>
                <soap:header message="tns:HeaderMessage" part="DocumentIdHeader" use="literal"/>
                <soap:header message="tns:HeaderMessage" part="ProcessIdHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <!-- mapping of the Fault message -->
            <wsdl:fault name="FaultMessage">
                <soap:fault name="FaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <!-- Definition of the Service -->
    <wsdl:service name="accesspointService">
        <wsdl:port name="ResourceBindingPort" binding="tns:ResourceBinding">
            <soap:address location="https://localhost:8443/accesspointService/ResourceBindingPort"/>
        </wsdl:port>
    </wsdl:service>
    <!-- Policy definition -->
    <!-- Policy for Fault messages -->
    <wsp:Policy wsu:Id="ResourceBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc1:KeyStore wspp:visibility="private"
                              location="${keystore.directory}/keystore.jks"
                              storepass="peppol"
                              alias="1"
                              type="JKS"/>
                <sc1:TrustStore wspp:visibility="private"
                                location="${keystore.directory}/truststore.jks"
                                storepass="peppol"
                                type="JKS"/>
                <sc1:CallbackHandlerConfiguration wspp:visibility="private">
                    <sc1:CallbackHandler name="samlHandler" classname="eu.peppol.outbound.saml.SAMLCallbackHandler"/>
                </sc1:CallbackHandlerConfiguration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
